.novo{
  float: right;
  margin-bottom: 1em;
  background-color: #181c2e;
  padding: 0.3em;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  border:0;
  font-weight: 500;
  color: #fff;
  transition: ease-in-out 0.3s;
  }
  .novo:hover{
    background-color: #535353;
    color: #FFF;
  }

  .novoBotao{
    float: right;
    margin-top: 1em;
    background-color: #181c2e;
    padding: 0.3em;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    border:0;
    font-weight: 500;
    color: #fff;
    transition: ease-in-out 0.3s;
    }
    .novoBotao:hover{
      background-color: #535353;
      color: #FFF;
    }

    .registro{
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      font-size: large;
      font-weight: 500;
    }

  svg{
    margin-right: 0em;
    margin-bottom: 0.1em;
  }
  
  .emprestimos{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  table{
    border: 1px solid #CCC;
    margin: 0;
    padding: 0;
    width: 100%;
    table-layout: fixed;
    border-collapse: collapse;
    margin-bottom: 1em;
  }
  
  table caption{
    font-size: 1.5em;
    margin: 0.5em 0  0.75em;
  }
  
  table tr{
    background-color: #F8f8f8;
    border:1px solid #DDD;
    padding: 0.35em;
  }
  
  table th, table td{
    padding: 0.60em;
    text-align: center;
  }
  
  table th{
    font-size: 0.85em;
    letter-spacing: 0.1em;
    text-transform: uppercase;
  }
  
  table td .action{
    border:0;
    padding: 5px;
    border-radius: 4px;
    display: inline-block;
    margin-right: 3px;
  }
  
  table td .action svg{
    vertical-align: middle;
  }

  table td .ator{
    border:0;
    padding:5px;
    border-radius: 600px;
    display: inline-block;
    margin-right: 3px;
  }
  
  table td .ator svg{
    vertical-align: middle;
  }
  
  table td .badge{
    padding: 3px;
    border-radius: 3px;
    color: #FFF;
  }

  .novoChamado{
    margin-left: 0.3em;
  }

  .dashboard{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .dashboard span{
    font-size: 1.2em;
    font-weight: 500;
    margin: 1.5em 0;
  }

  .container-dashboard{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .btn-more{
    margin-bottom: 1em;
    padding: 0.3em 0.5em;
    background-color: #181c2e;
    border: 0;
    border-radius: 5px;
    font-size: 0.9em;
    color: #FFF;
    transition: ease-in-out 0.3s;
  }

  .btn-more:hover{
    background-color: #535353;
    color: #FFF;
  }
  
  @media screen and (max-width: 720px){
      table{
        border:0;
      };
  
      table caption{
        font-size: 1.3em;
      }
  
      table thead{
        border:none;
        height: 1px;
        margin: -1px;
        overflow: hidden;
        padding: 0;
        position: absolute;
        width: 1px;
      }
  
      table tr{
        border-bottom: 3px solid #DDD;
        display: block;
        margin-bottom: 0.60em;
      }
  
      table td{
        border-bottom: 1px solid #DDD;
        display: block;
        font-size: 0.8em;
        text-align: right;
      }
  
      table td::before{
        content: attr(data-label);
        float: left;
        font-weight: bold;
        text-transform: uppercase;
      }

      .btn-more{
        margin-bottom: 0.8em;
        padding: 0.3em 0.5em;
        background-color: #181c2e;
        border: 0;
        border-radius: 5px;
        font-size: 0.9em;
        color: #FFF;
        transition: ease-in-out 0.3s;
      }
    
      .btn-more:hover{
        background-color: #535353;
        color: #FFF;
      }
  }